@charset "utf-8";

body {
  font-family: Verdana, sans-serif;
  color: #000000;
  background: #ffffff;
}

.heading {
  font-weight: bold;
  font-size: 158%;
  text-align: center;
}

h1 {
  font-size: 150%;
  font-weight: bold;
}

h2 {
  font-size: 125%;
  font-weight: bold;
}

h3 {
  font-size: 100%;
  font-weight: bold;
  text-decoration: underline;
}

a:link ,a:visited{
  color: #0067ab;
  text-decoration: none;
}

a:focus {
  outline:1px dotted;
}

a:hover, a:active {
  color: #0067ab;
  outline: none;
  text-decoration: underline;
}

.toc {
  margin: 0px 20px 10px 20px;
  border: 1px solid #BBB;
  background-color: #dda;
  color: #000;
  background: #EEE;
  padding: 1px 10px;
}

.toc ul {
  list-style-type: none;
  padding-left: 0px;
}

.content {
  margin: 0px 20px 10px 20px;
  border: 1px solid #BBB;
  background-color: #dda;
  color: #000;
  background: #EEE;
  padding: 1px 10px;
}

.abbrev {
}

.classname {
  font-family: monospace;
}

.code {
  background-color: #cccccc;
  font-family: monospace;
}

.command, .commandname {
  font-family: monospace;
}

.constant {
  font-family: monospace;
}

.filename {
  font-family: monospace;
}

.foreignphrase {
}

.function {
  font-family: monospace;
}

.literal {
  font-family: monospace;
}

.option {
  color: #be5303;
  font-family: monospace;
}

.parameter {
  font-family: monospace;
  font-style: italic;
  border-bottom: 1px dashed black;
}

.productname {
  font-style: italic;
}

.varname {
  font-family: monospace;
}

.important-title {
  text-decoration: underline;
  font-weight: bold;
}

.important {
  color: #000000;
  background-color: #fae8b8;
  border: 1px solid #be5303;
  border-collapse: collapse;
  margin: 10px 30px;
  padding: 0px 10px;
}

.note-title {
  text-decoration: underline;
  font-weight: bold;
}

.note {
  color: #000000;
  background-color: #fae8b8;
  border: 1px solid #be5303;
  border-collapse: collapse;
  margin: 10px 30px;
  padding: 0px 10px;
}

.cmdsynopsis {
  font-family: monospace;
  color: #000000;
  background-color: #d0d0d0;
  border: 1px solid #0067ab;
  padding: 3px 5px;
  margin: 0px 5px;
}

.programlisting {
  font-family: monospace;
  color: #000000;
  background-color: #d0d0d0;
  border: 1px solid #0067ab;
  padding: 3px 5px;
  margin: 0px 5px;
}

.screen {
  font-family: monospace;
  background-color: #d0d0d0;
  border: 1px solid #0067ab;
  padding: 3px 5px;
  margin: 0px 5px;
}

img {
  border: none;
}

table.variablelist {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
}

table.variablelist th {
  color: #000000;
  background-color: #cccccc;
}

table.variablelist td {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  padding: 3px;
  vertical-align: top;
}

table.variablelist td.varlistoption {
  white-space: nowrap;
}

td p:first-child {
  margin-top: 0px;
}

td p:last-child {
  margin-bottom: 0px;
}

