<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PlexCleaner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <PlexCleaner.Properties.Settings>
            <setting name="MKVToolNix" serializeAs="String">
                <value>MKVToolNix</value>
            </setting>
            <setting name="Handbrake" serializeAs="String">
                <value>Handbrake</value>
            </setting>
            <setting name="MediaInfo" serializeAs="String">
                <value>MediaInfo</value>
            </setting>
            <setting name="FFmpeg" serializeAs="String">
                <value>FFmpeg</value>
            </setting>
            <setting name="EchoArgs" serializeAs="String">
                <value>EchoArgs</value>
            </setting>
            <setting name="KeepExtensions" serializeAs="String">
                <value>.mkv</value>
            </setting>
            <setting name="ReMuxExtensions" serializeAs="String">
                <value>.avi,.m2ts,.ts,.vob,.mp4,.m4v,.asf,.wmv</value>
            </setting>
            <setting name="ReEncodeVideoCodec" serializeAs="String">
                <value>mpeg2video,msmpeg4v3,h264</value>
            </setting>
            <setting name="ReEncodeVideoProfile" serializeAs="String">
                <value>*,*,Constrained Baseline@30</value>
            </setting>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>eng</value>
            </setting>
            <setting name="MonitorWaitTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FileRetryWaitTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FileRetryCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ToolsRootProcessRelative" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteEmptyFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSidecarFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteFailedFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VideoEncodeQuality" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="KeepLanguages" serializeAs="String">
                <value>eng,afr,chi,ind</value>
            </setting>
            <setting name="TestNoModify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReEncodeAudioCodec" serializeAs="String">
                <value>flac,mp2,vorbis,wmapro</value>
            </setting>
            <setting name="AudioEncodeCodec" serializeAs="String">
                <value>ac3</value>
            </setting>
            <setting name="TestSnippets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolsRootPath" serializeAs="String">
                <value>..\..\..\Tools\</value>
            </setting>
            <setting name="SevenZip" serializeAs="String">
                <value>7Zip</value>
            </setting>
        </PlexCleaner.Properties.Settings>
    </applicationSettings>
</configuration>
